@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bangazon</h1>
</div>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">
                @Html.ActionLink(item.Title.ToString(), "Details", "Products", new { id = item.ProductId })
            </div>
        </div>
    }
</div>