@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Notice</h1>
<p>This privacy notice discloses the privacy practices for Bangazon. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>

<ul>
    <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
    <li>What choices are available to you regarding the use of your data.</li>
    <li>The security procedures in place to protect the misuse of your information.</li>
    <li>How you can correct any inaccuracies in the information.</li>
</ul>

<h5>Information Collection, Use, and Sharing</h5>
<p>
    We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
</p>

<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>

<p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

<h5>Security</h5>
<p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>

<p>You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>

<p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
